<h2>Listing <%=@object_class.model_name.human %></h2>

<table>
  <tr>
  <%for col in @object_class.list_cols%>
    <th><%=@object_class.human_attribute_name(col) %></th>    
  <%end%>
  </tr>

<% @objects.each do |obj| %>
  <tr>
<%for col in @object_class.list_cols%>
    <td><%=h obj[col] %></td>
  <%end%>
    <td><%= link_to 'Show', menu %></td>
    <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    <td><%= link_to 'Destroy', menu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>