
  <div id="organise_tree" class="absolute_tbl" style="top:50px;width:130px;overflow:auto;">
      <%= form_tag "/fixers/new/Dgorganise", :remote=>true, :id=>"organise_form" do %>
      <%= select_tag 'hidden|parent_id', options_for_select(nested_set_options(Dgorganise) {|i, level| "#{'-' * level} #{i.Name}" }),
          :onchange=>"/fixers/list/Dgemployee"  %>

      <div>  <%=@object_class.human_attribute_name('Name') %>
      </div>
        <ul class="list">
          <% orgs = nested_set_options(Dgorganise) {|i, level| "#{'-' * level} #{i.Name}" }%>
          <% for org in orgs%>
           <li data-section-id="<%=org[1]%>"> <a> <%=org[0]%> </a></li>
          <% end %>    </ul>
        <input type="hidden" name="selected" />

      <%= submit_tag (t :create)  %>
      <% end %>
  </div>
  <div id="employee_list" class="absolute_trb" style="top:50px;left:130px;overflow:auto;">
    <% for org in orgs %>
      <% org = Dgorganise.find(org[1]) %>
    <div >
      <div>
        <%=org[:Name]%>  |add, update, add word
      </div>
      <div>
        <%= render :partial=>"fields", :locals=>{:objects=>org.dgemployees} %>
      </div>
    </div>
    <% end %>
  </div>
<script type="text/javascript">
$(document).ready(function() {
  add_list_feature("#organise_tree li");
})
</script>