<% object_class = class_string.classify().constantize()  %>

    <div class="clear-block">
      <div class="fl">
      <%= t :search %>
      </div>
      <div class="fr">
        <%= link_to (t :create), {:controller=> "fixers",:action=>"new",:class=>class_string, :object=>{parent_name.to_sym => parent_id}}, :remote=>true %>
      </div>
    </div>
<% if objects.empty? %>
    No objects
<% else %>
<%
  # locals   objects
#object_class =  objects.first.class
%>

    <table>
      <tr>
      <%for col in object_class.list_cols%>
        <th><%=object_class.human_attribute_name(col) %></th>    
      <%end%>
      </tr>
    
    <% objects.each do |obj| %>
      <tr>
      <%for col in object_class.list_cols%>
        <td><%=h obj[col] %></td>
      <%end%>
        <td><%= link_to (t :edit), "/fixers/edit/#{class_string}/#{obj.id}", :remote=>true %></td>
        <td><%= link_to (t :destroy), "/fixers/destroy/#{class_string}/#{obj.id}", :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
<% end %>