<h3>create <%=@object_class.model_name.human%></h3>
<%= form_tag "/fixers/create/#{@object_class.model_name}",:remote => true, :class=>"new" do |f| %>
  
  <%= render :partial=>"form"%>
  <p>
  <%= submit_tag "create" %>  
  <%= button_to_function "cancel","dialog('close')" %>
  </p>  
<% end %>
  