  <div style="height:50px;"> subheader
  </div>

  <div id="word_type_list" class="absolute_tbl" style="top:50px;width:130px;overflow:auto;">
    <div>  <%=@object_class.human_attribute_name('TypeName') %>
    </div>
    <ul class="list">
    <% for wbt in @objects%>
     <li data-section-id="<%=wbt.id%>"> <a> <%=wbt[:TypeName]%> </a></li>
    <% end %>
    </ul>
    <input type="hidden" name="selected" />
  </div>
  <div id="word_list" class="list_fixer absolute_trb" style="top:50px;left:130px;overflow:auto;">
    <% for wbt in @objects%>
    <div >
      <div>
        <%=wbt[:TypeName]%>
        <%=link_to (t :create), {:controller=> "fixers",:action=>"new",:class=>"Dgwordbooktype", :selected_id=>wbt[:id]}, :remote=>true %>
        <%=link_to (t :update), {:controller=> "fixers",:action=>"edit",:class=>"Dgwordbooktype", :selected_id=>wbt[:id], :id=>wbt[:id]}, :remote=>true %>
      </div>
      <div>
        <%= render :partial=>"fields", :locals=>{:parent_id=>wbt[:id],:parent_name=>"dgwordbooktypeID",:objects=>wbt.dgwordbooks, :class_string=>"Dgwordbook"} %>
      </div>
    </div>
    <% end %>
  </div>
<script type="text/javascript">
$(document).ready(function() {
  add_list_feature("#word_type_list li");
})
</script>
