<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Fcj</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jqueryui.min" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="app" class="absolute">
    <div id="header">
     <%= render :partial=>"/layouts/header"%>
    </div>
    <div id="content" class="absolute">
      <div class="absolute_tbl left_part" >
        <%= render :partial=>"/layouts/left_menu"%>
      </div>
      <div class="absolute_trb center_part">
        <%= yield %>
      </div>
    </div>
  <div id="footer" class="absolute_rbl">
    <%= render :partial=>"/layouts/footer"%>
  </div>
  </div>
  <%= render :partial => "/layouts/model_dialog" %>

</body>
</html>
